html,
body {
  overflow-x: hidden;
}

body {
  padding: 2.2%;
}
body h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  /* Hamburger menu */
}
header .ham_menu_container {
  position: absolute;
  z-index: 1000;
}
header .ham_menu_container .hamburger {
  margin: 0;
  padding: 0;
  float: left;
  transition: opacity 0.3s;
}
header .ham_menu_container .hamburger .line {
  background-color: black;
  width: 50px;
  height: 5px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
header .ham_menu_container .hamburger:hover {
  cursor: pointer;
}
header .ham_menu_container .hamburger:hover .line {
  background-color: #17c79a;
}
header .ham_menu_container .hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}
header .ham_menu_container .hamburger.isactive .line:nth-child(1) {
  background-color: white;
  transform: translateY(13px) rotate(45deg);
}
header .ham_menu_container .hamburger.isactive .line:nth-child(3) {
  background-color: white;
  transform: translateY(-13px) rotate(-45deg);
}
header .ham_menu_container .navbar {
  background-color: black;
  margin: -2.2%;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 2s ease-in-out;
}
header .ham_menu_container .navbar ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  list-style-type: none;
  padding-top: 5%;
  margin: 0;
  width: 100%;
}
header .ham_menu_container .navbar ul li {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 5% 50px;
  color: #d3e3e3;
  font-size: 1.6em;
}
header .ham_menu_container .navbar ul li:hover {
  cursor: pointer;
  background-color: #00c98d;
  transition: all 0.5s;
  letter-spacing: 14px;
}
header .ham_menu_container .active {
  display: block;
  animation: fade 0.5s;
}
@keyframes fade {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav div.nav_menu {
  padding-top: 16px;
  width: 91%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header nav div.nav_menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
header nav div.nav_menu ul li {
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
}
header nav div.nav_menu ul li:hover {
  color: #00c98d;
  cursor: pointer;
}
header nav div.nav_menu ul.menu_bar1 li {
  margin: 0 5% 0 0;
}
header nav div.nav_menu ul.menu_bar2 {
  justify-content: flex-end;
}
header nav div.nav_menu ul.menu_bar2 .cart img {
  position: absolute;
}
header nav div.nav_menu ul.menu_bar2 .cart .quantity {
  margin-left: 2%;
  font-size: 1.2em;
  background-color: #16c79a;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  bottom: 10px;
}
header nav div.nav_menu ul.menu_bar2 li {
  margin: 0 0 0 5%;
}

main section.search {
  padding: 4% 0 4% 0;
  display: flex;
  margin: 0 0 0.6em 0;
  /* Drop down menu (sort by) hidden by default */
}
main section.search div.input_container {
  position: relative;
  width: 75%;
}
main section.search div.input_container input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.4em;
}
main section.search div.input_container img.input_img {
  position: absolute;
  top: -5px;
}
main section.search div.sort_by_menu_container {
  position: relative;
  width: 23%;
  margin-left: 2%;
}
main section.search div.sort_by_menu_container button.sortBy_btn {
  width: 100%;
  height: 28.8px;
  border: none;
  border-bottom: solid black 1px;
  outline: 0;
  background-color: #ffffff;
  cursor: pointer;
}
main section.search div.sort_by_menu_container button.sortBy_btn div.sortBy_dropDown {
  display: grid;
  grid-template-columns: 90% 10%;
}
main section.search div.sort_by_menu_container button.sortBy_btn div.sortBy_dropDown span.sortBy_text {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-start;
}
main section.search div.sort_by_menu_container button.sortBy_btn div.sortBy_dropDown span.dropDown_icon {
  display: flex;
  justify-content: flex-end;
}
main section.search .lists:first-child {
  margin-top: 0.5em;
}
main section.search div.sortBy_lists {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  box-shadow: 2px 22px 22px 0px rgba(0, 0, 0, 0.15);
}
main section.search div.sortBy_lists ul {
  margin: 0;
  padding: 0;
}
main section.search div.sortBy_lists ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0 0 6px 5px;
  line-height: 30px;
  background-color: white;
}
main section.search div.sortBy_lists ul li:hover {
  background-color: #ececec;
}
main section.search div.showSortBy {
  display: block;
  width: 100%;
}

/* HOME PAGE: main banner */
section.main_banner {
  position: relative;
}
section.main_banner div.arrowBtn {
  position: absolute;
  top: 44%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.main_banner div.arrowBtn .arrow {
  position: absolute;
  z-index: 1;
  font-size: 4em;
  color: white;
  cursor: pointer;
}
section.main_banner div.arrowBtn #leftBtn {
  left: 0;
  margin-left: 20px;
}
section.main_banner div.arrowBtn #rightBtn {
  right: 0;
  margin-right: 20px;
}
section.main_banner div.mainImg {
  position: relative;
}
section.main_banner div.mainImg div.mainImgSlide img {
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
section.main_banner div.mainImg div.main_banner_text {
  position: absolute;
  width: 500px;
  top: 10%;
  margin-left: 5%;
}
section.main_banner div.mainImg div.main_banner_text h1 {
  font-size: 3em;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 1.2%;
  text-shadow: 0 4px 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
}
section.main_banner div.mainImg div.main_banner_text h3 {
  font-size: 1.6em;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1.4px solid currentColor;
  width: 35%;
  margin: 0;
}

/* Footer */
footer {
  height: 20%;
}
footer hr {
  color: #1b1b1b;
  margin: 6% 0 2.4% 0;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
footer nav ul.footer_menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  margin-right: 5%;
}
footer nav ul.footer_menu li {
  list-style: none;
}
footer nav ul.footer_menu li:hover {
  color: #00c98d;
  cursor: pointer;
}
footer nav ul.social_icons {
  display: flex;
  padding: 0;
}
footer nav ul.social_icons li.social_media {
  margin: 0 0 0 36px;
  list-style: none;
}
footer nav ul.social_icons li.social_media:hover {
  color: #00c98d;
  cursor: pointer;
}

@media (min-width: 1280px) {
  body header nav .nav_menu {
    width: 92%;
  }
  body header .ham_menu_container menu.navbar {
    margin: -4%;
  }
  body header .ham_menu_container menu.navbar ul li {
    padding: 6%;
  }
}
@media (max-width: 1024px) {
  body header nav .nav_menu {
    width: 89%;
  }
  body main #search .input_container {
    width: 70%;
  }
  body main #search .sort_by_menu_container {
    width: 28%;
  }
}
@media (min-width: 768px) {
  body header .ham_menu_container .navbar ul li {
    padding: 10%;
  }
  body header nav div.nav_menu {
    padding-top: 16px;
  }
  body footer nav ul.footer_menu {
    width: 60%;
    margin-right: 2%;
  }
  body footer nav ul.social_icons li.social_media {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  body header .ham_menu_container .navbar ul li {
    padding: 10%;
  }
  body header nav div.nav_menu {
    width: 87%;
  }
  body main #home .arrowBtn .arrow {
    font-size: 3em;
  }
  body footer nav {
    display: flex;
    flex-direction: column;
  }
  body footer nav .social_icons {
    margin: 12%;
  }
  body footer nav .social_icons li.social_media:nth-child(1) {
    margin: 0;
  }
  body footer nav ul:nth-child(2) {
    order: -1;
  }
  body footer nav ul.footer_menu {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: baseline;
    margin-bottom: 15%;
  }
  body footer nav ul.footer_menu li {
    list-style: none;
    flex: 0 50%;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0;
  }
  body header {
    padding: 4%;
  }

  .ham_menu_container menu.navbar {
    margin: -4%;
  }
  .ham_menu_container menu.navbar ul li {
    padding: 15%;
  }

  nav div.nav_menu {
    padding: 0;
  }
  nav div.nav_menu .menu_bar1 li {
    display: none;
  }
  nav div.nav_menu .menu_bar2 {
    padding-right: 4%;
  }
  nav div.nav_menu .menu_bar2 li:nth-child(2) {
    display: none;
  }
  nav .active {
    margin: -4%;
  }

  section.search {
    width: 100%;
    justify-content: center;
  }
  section.search div.input_container {
    display: block;
    width: 100%;
    padding-bottom: 2%;
  }
  section.search div.sort_by_menu_container {
    display: none;
  }

  section#home {
    height: 100%;
  }
  section#home .arrowBtn #leftBtn,
section#home .arrowBtn #rightBtn {
    font-size: 2.4em;
  }
  section#home div.mainImg {
    height: 100%;
  }
  section#home div.mainImg .mainImgSlide img {
    height: 600px;
    object-fit: cover;
  }
  section#home div.mainImg .main_banner_text {
    margin: 5%;
  }
  section#home div.mainImg .main_banner_text h1 {
    font-size: 1.94em;
  }
  section#home div.mainImg .main_banner_text h3 {
    font-size: 1.4em;
  }

  footer hr {
    display: none;
  }
}
/* SHOP PAGE */
/* Left side search menu - price range slider */
.price_range_title {
  margin-top: 8%;
}

.range_slider {
  width: 100%;
  text-align: center;
  position: relative;
}
.range_slider input::-webkit-outer-spin-button,
.range_slider input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.range_slider input[type=number] {
  border: none;
  margin: 0;
  font-size: 1em;
}
.range_slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: space-evenly;
}
.range_slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
.range_slider input[type=range]:focus {
  outline: none;
}
.range_slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.8px;
  cursor: pointer;
  background: #393e46;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
.range_slider input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  border: 2px solid #393e46;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.range_slider .price_text {
  width: 100%;
  margin: 5% 0 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.range_slider .price_text .min_text {
  justify-self: flex-start;
  margin-left: 7px;
  margin-bottom: 10%;
}
.range_slider .price_text .max_text {
  justify-self: flex-end;
  margin-bottom: 10%;
}

.sidebar_search {
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  height: 3em;
  outline: none;
  cursor: pointer;
}

.sidebar_search:active:active {
  transform: scale(0.96);
}

/* SHOP PAGE - Product Listing */
/* Pagination */
.pagination {
  display: flex;
  flex-direction: column;
}
.pagination .page_buttons {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.pagination .page_buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.pagination .page_buttons .page_numbers .page_num {
  font-size: 1.1em;
  cursor: pointer;
}

/* Product Listing */
.product_listing {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.product_listing div.listing_page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 20px;
  flex-direction: row;
  margin-top: 1%;
}
.product_listing div.listing_page div.left_side_bar {
  width: 100%;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu {
  font-size: 0.9em;
  line-height: 2em;
  width: 100%;
  /* SIDE BAR - drop down menu: hidden by default (display when clicked) */
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.filterBy {
  margin: 0 0 10% 0;
  text-transform: uppercase;
  color: #22232b;
  font-size: 0.8em;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_menu_container div.collection {
  cursor: pointer;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  width: 100%;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_menu_container div.collection span {
  margin: 0;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_list {
  display: none;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_list ul {
  margin: 2% 0 2% 0;
  padding: 1%;
  font-size: 0.9em;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_list ul li {
  list-style: none;
  line-height: 30px;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.collection_list ul li:hover {
  background-color: #ececec;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.color_menu_container div.color {
  cursor: pointer;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  width: 100%;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.color_menu_container div.color span {
  margin: 0;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.color_options {
  margin: 6% 0 6% 0;
  padding: 2%;
  line-height: 1.4em;
  font-size: 0.9em;
  text-transform: capitalize;
  display: none;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.category_menu_container div.category {
  cursor: pointer;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  width: 100%;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.category_options {
  margin: 6% 0 6% 0;
  padding: 1%;
  line-height: 1.4em;
  display: none;
}
.product_listing div.listing_page div.left_side_bar div.product_side_menu div.active {
  display: block;
}
.product_listing #products_container {
  justify-content: space-around;
  margin-left: 4%;
  margin-bottom: 6%;
  display: grid;
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  grid-area: auto;
  grid-template-columns: repeat(auto-fit, 300px);
}
.product_listing #products_container .product-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 300px;
  margin-bottom: 10%;
  transition: transform 0.4s;
  /* Animation */
}
.product_listing #products_container .product-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_listing #products_container .product-card .product-info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product_listing #products_container .product-card .product-info-box .product-info {
  position: relative;
  width: 100%;
}
.product_listing #products_container .product-card .product-info-box .product-info .product-name {
  position: relative;
  width: 35%;
  margin: 20px 0 -5px 0;
  line-height: 34px;
  background-color: white;
}
.product_listing #products_container .product-card .product-info-box .product-info .product-detail {
  display: flex;
  justify-content: space-between;
  height: 34px;
  line-height: 34px;
  background-color: white;
}
.product_listing #products_container .product-card .product-info-box .product-info .product-detail .product-type {
  height: 40px;
  font-weight: 300;
  font-size: 0.8em;
  font-family: "Josefin Sans", sans-serif;
}
.product_listing #products_container .product-card .product-info-box .product-info .product-detail .product-price {
  display: flex;
  font-weight: 400;
}
.product_listing #products_container .product-card .product-info-box .cart-icon {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 0;
  z-index: 1;
  cursor: pointer;
}
.product_listing #products_container .product-card .product-info-box .cart-icon i.fas {
  font-size: 1.8em;
  margin-top: 10px;
}
.product_listing #products_container .product-card .product-info-box .cart-icon:active {
  transform: scale(0.99);
}
.product_listing #products_container .product-card:hover {
  transform: scale(1.08);
}

@media (min-width: 1280px) {
  #shop .listing_page {
    grid-template-columns: 22% 76%;
  }
  #shop .listing_page .pagination #products_container {
    grid-template-columns: repeat(auto-fit, 320px);
    margin-left: 4.5%;
  }
  #shop .listing_page .pagination #products_container .product-card {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 1024px) {
  body .section_shop .listing_page {
    grid-template-columns: 28% 72%;
    grid-column-gap: 14px;
  }
}
@media (min-width: 768px) {
  body .section_shop .listing_page {
    display: grid;
    grid-column-gap: 10px;
  }
  body .section_shop .listing_page .pagination #products_container {
    grid-template-columns: repeat(auto-fit, 240px);
  }
  body .section_shop .listing_page .pagination #products_container .product-card {
    width: 240px;
    height: 240px;
  }
}
@media (max-width: 768px) {
  body .section_shop .listing_page {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 34% 64%;
  }
  body .section_shop .listing_page .pagination #products_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .section_shop .listing_page .pagination #products_container .product-card {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .sort_by_menu_container {
    display: block;
  }

  .section_shop {
    display: flex;
    justify-content: center;
  }
  .section_shop div.listing_page {
    display: flex;
    flex-direction: column;
  }
  .section_shop div.listing_page .pagination #products_container {
    margin-left: 0;
    align-items: center;
  }
}
/* MAGAZINE PAGE */
.product_container {
  display: flex;
  justify-content: center;
  margin: 4%;
  padding-bottom: 5%;
}
.product_container .detail1 .product_image {
  position: relative;
}
.product_container .detail1 .product_image .slide_main {
  width: 100%;
}
.product_container .detail1 .product_image .dot_slider {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
}
.product_container .detail1 .product_image .dot_slider .dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 3px;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.product_container .detail1 .product_image .dot_slider .active,
.product_container .detail1 .product_image .dot_slider .dot:hover {
  background-color: white;
}
.product_container .detail1 .item_img_slider {
  display: flex;
  align-items: center;
  margin-top: 3%;
}
.product_container .detail1 .item_img_slider .slide {
  width: 15%;
  margin: 6px;
  cursor: pointer;
}
.product_container .detail1 .item_img_slider .img_slide_arrow {
  font-size: 2em;
  font-weight: lighter;
  cursor: pointer;
}
.product_container .detail1 .item_img_slider .forward {
  margin-left: 7px;
}
.product_container .detail1 .item_img_slider .backward {
  margin-right: 7px;
}
.product_container .detail2 {
  margin-left: 4%;
}
.product_container .detail2 .about_product {
  width: 400px;
}
.product_container .detail2 .about_product h2.product_name {
  font-size: 1.7em;
  font-weight: 600;
  margin: 0;
}
.product_container .detail2 .about_product .description {
  margin: 5% 0 5% 0;
  font-size: 1.1em;
  line-height: 1.2em;
}
.product_container .detail2 .about_product h2.price {
  padding-top: 4%;
  font-size: 1.5em;
  font-weight: 400;
}
.product_container .detail2 .about_product p.delivery {
  margin: 5% 0 5% 0;
}
.product_container .detail2 .about_product p.delivery span.stock {
  color: red;
}
.product_container .detail2 .item_colors {
  margin: 10% 0 14% 0;
}
.product_container .detail2 .item_colors button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2.5%;
  border: 1px solid;
  cursor: pointer;
  outline: none;
}
.product_container .detail2 .item_colors button:active:active {
  transform: scale(0.96);
}
.product_container .detail2 .buttons {
  display: flex;
  flex-direction: column;
}
.product_container .detail2 .buttons .add_to_cart,
.product_container .detail2 .buttons .go_to_checkout,
.product_container .detail2 .buttons .more_details {
  padding: 5% 0 5% 0;
  margin: 2% 0 2% 0;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 3px;
}
.product_container .detail2 .buttons .add_to_cart div,
.product_container .detail2 .buttons .go_to_checkout div,
.product_container .detail2 .buttons .more_details div {
  display: flex;
  justify-content: center;
}
.product_container .detail2 .buttons .add_to_cart div span,
.product_container .detail2 .buttons .go_to_checkout div span,
.product_container .detail2 .buttons .more_details div span {
  width: 340px;
}
.product_container .detail2 .buttons .add_to_cart {
  background-color: black;
  color: white;
  border: 2px solid transparent;
}
.product_container .detail2 .buttons .go_to_checkout {
  background-color: #17c79a;
  color: white;
  border: 2px solid transparent;
}
.product_container .detail2 .buttons .more_details {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.product_container .detail2 .buttons .product_details {
  font-size: 0.9em;
  margin-top: 5%;
}
.product_container .detail2 .buttons .product_details p {
  margin: 2.2%;
  font-size: 1.1em;
}

@media (max-width: 1024px) {
  body #magazine #item-container .detail2 {
    width: 300px;
  }
  body #magazine #item-container .detail2 div {
    width: 300px;
  }
  body #magazine #item-container .detail2 .buttons .more_details div span {
    width: 256px;
  }
  body #magazine #item-container .detail2 .buttons .product_details p {
    margin: 2%;
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  body #magazine #item-container {
    margin: 2%;
  }
  body #magazine #item-container .detail1 .product_image .dot_slider {
    display: none;
  }
  body #magazine #item-container .detail1 .item_img_slider img {
    width: 84px;
  }
  body #magazine #item-container .detail2 {
    width: 280px;
  }
  body #magazine #item-container .detail2 div {
    width: 280px;
  }
  body #magazine #item-container .detail2 .buttons .more_details div span {
    width: 240px;
  }
  body #magazine #item-container .detail2 .buttons .product_details p {
    font-size: 0.87em;
  }
}
@media (max-width: 768px) {
  body #search {
    margin: 3% 0;
  }
  body #magazine #item-container {
    flex-direction: column;
    margin: 2%;
  }
  body #magazine #item-container .detail1 .product_image .dot_slider {
    display: block;
  }
  body #magazine #item-container .detail1 .item_img_slider {
    display: none;
  }
  body #magazine #item-container .detail2 {
    margin-top: 10%;
    margin-left: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body #magazine #item-container .detail2 div {
    width: 380px;
  }
  body #magazine #item-container .detail2 .about_product {
    width: 380px;
  }
  body #magazine #item-container .detail2 .item_colors {
    margin: 3% 0 5% 0;
  }
  body #magazine #item-container .detail2 .buttons {
    margin-bottom: 10%;
    width: 380px;
  }
  body #magazine #item-container .detail2 .buttons .more_details div span {
    width: 330px;
  }
  body #magazine #item-container .detail2 .buttons .product_details p {
    margin: 2.4%;
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  body #magazine #item-container {
    margin: 0;
  }
  body #magazine #item-container .detail1 {
    width: 100%;
  }
  body #magazine #item-container .detail1 .product_image .slide_main {
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 414px) {
  body #magazine #item-container .detail2 div.about_product,
body #magazine #item-container .detail2 .item_colors {
    width: 300px;
  }
  body #magazine #item-container .detail2 .buttons {
    width: 300px;
  }
  body #magazine #item-container .detail2 .buttons .more_details div {
    width: 300px;
  }
  body #magazine #item-container .detail2 .buttons .more_details div span {
    width: 240px;
  }
}
.showing {
  display: block;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
