html,
body {
  overflow-x: hidden;
}

body {
  padding: 2.2%;
  h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
}

@mixin hover {
  &:hover {
    color: #00c98d;
    cursor: pointer;
  }
}
@mixin hoverChangeBgColour {
  &:hover {
    background-color: #ececec;
  }
}
@mixin btnClickTransform {
  &:active {
    transform: scale(0.96);
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  /* Hamburger menu */
  .ham_menu_container {
    position: absolute;
    z-index: 1000;
    .hamburger {
      margin: 0;
      padding: 0;
      float: left;
      transition: opacity 0.3s;
      .line {
        background-color: black;
        width: 50px;
        height: 5px;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
      }
    }
    .hamburger:hover {
      cursor: pointer;
      .line {
        background-color: #17c79a;
      }
    }
    .hamburger.isactive {
      .line:nth-child(2) {
        opacity: 0;
      }
      .line:nth-child(1) {
        background-color: white;
        transform: translateY(13px) rotate(45deg);
      }
      .line:nth-child(3) {
        background-color: white;
        transform: translateY(-13px) rotate(-45deg);
      }
    }
    .navbar {
      background-color: black;
      margin: -2.2%;
      width: 100vw;
      height: 100vh;
      display: none;
      transition: all 2s ease-in-out;
      ul {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        list-style-type: none;
        padding-top: 5%;
        margin: 0;
        width: 100%;
        li {
          display: flex;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: 5px;
          margin: 0;
          padding: 5% 50px;
          color: #d3e3e3;
          font-size: 1.6em;
        }
        li:hover {
          cursor: pointer;
          background-color: #00c98d;
          transition: all 0.5s;
          letter-spacing: 14px;
        }
      }
    }
    .active {
      display: block;
      animation: fade 0.5s;
      // padding: 2.2%;
    }

    @keyframes fade {
      from {
        transform: translateX(-200px);
        opacity: 0;
      }
      to {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    div.nav_menu {
      padding-top: 16px;
      width: 91%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        li {
          text-transform: uppercase;
          color: black;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 1em;
          text-decoration: none;

          @include hover;
        }
      }
      ul.menu_bar1 {
        // justify-content: flex-start;
        // display: flex;
        li {
          margin: 0 5% 0 0;
        }
      }
      ul.menu_bar2 {
        justify-content: flex-end;
        // display: flex;
        .cart {
          img {
            position: absolute;
          }
          .quantity {
            margin-left: 2%;
            font-size: 1.2em;
            background-color: #16c79a;
            text-align: center;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
            left: 15px;
            bottom: 10px;
          }
        }
        li {
          margin: 0 0 0 5%;
        }
      }
    }
  }
}

main {
  section.search {
    padding: 4% 0 4% 0;
    display: flex;
    margin: 0 0 0.6em 0;
    div.input_container {
      position: relative;
      width: 75%;
      input {
        border: 0;
        outline: 0;
        border-bottom: 1px solid black;
        width: 100%;
        font-size: 1.4em;
      }
      img.input_img {
        position: absolute;
        top: -5px;
      }
    }
    div.sort_by_menu_container {
      position: relative;
      width: 23%;
      margin-left: 2%;
      button.sortBy_btn {
        width: 100%;
        height: 28.8px;
        border: none;
        border-bottom: solid black 1px;
        outline: 0;
        background-color: #ffffff;
        cursor: pointer;
        div.sortBy_dropDown {
          display: grid;
          grid-template-columns: 90% 10%;
          span.sortBy_text {
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: flex-start;
          }
          span.dropDown_icon {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    /* Drop down menu (sort by) hidden by default */
    .lists:first-child {
      margin-top: 0.5em;
    }
    div.sortBy_lists {
      display: none;
      position: absolute;
      z-index: 2;
      background-color: white;
      box-shadow: 2px 22px 22px 0px rgba(0, 0, 0, 0.15);
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 0.8em;
          padding: 0 0 6px 5px;
          line-height: 30px;
          background-color: white;
          @include hoverChangeBgColour;
        }
      }
    }
    div.showSortBy {
      display: block;
      width: 100%;
    }
  }
}

/* HOME PAGE: main banner */
section.main_banner {
  position: relative;
  div.arrowBtn {
    position: absolute;
    top: 44%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .arrow {
      position: absolute;
      z-index: 1;
      font-size: 4em;
      color: white;
      cursor: pointer;
    }
    #leftBtn {
      left: 0;
      margin-left: 20px;
    }
    #rightBtn {
      right: 0;
      margin-right: 20px;
    }
  }

  div.mainImg {
    position: relative;
    div.mainImgSlide {
      img {
        width: 100%;
        object-fit: cover;
        filter: brightness(80%);
      }
    }
    div.main_banner_text {
      position: absolute;
      width: 500px;
      top: 10%;
      margin-left: 5%;
      h1 {
        font-size: 3em;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 1.2%;
        text-shadow: 
            // 0 1px 0 #ccc,
          0 4px 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1),
          0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
      }
      h3 {
        font-size: 1.6em;
        font-weight: 300;
        color: #ffffff;
        border-bottom: 1.4px solid currentColor;
        width: 35%;
        margin: 0;
      }
    }
  }
}

/* Footer */
footer {
  height: 20%;
  hr {
    color: #1b1b1b;
    margin: 6% 0 2.4% 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    ul.footer_menu {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 0;
      margin-right: 5%;
      li {
        // margin: 0 4% 0 0;
        list-style: none;
        @include hover;
      }
    }
    ul.social_icons {
      display: flex;
      padding: 0;
      li.social_media {
        margin: 0 0 0 36px;
        list-style: none;
        @include hover;
      }
    }
  }
}

//* RESPONSIVE *//

/////////* 1280px - HOME */////////
$breakpoint-1280: 1280px;
@media (min-width: $breakpoint-1280) {
  body {
    header {
      nav {
        .nav_menu {
          width: 92%;
        }
      }
       .ham_menu_container {
    menu.navbar {
      margin: -4%;
      ul {
        li {
          padding: 6%;
        }
      }
    }
  }
    }
  }
}

/////////* LAPTOP SMALL - HOME */////////
$breakpoint-laptop-small: 1024px;
@media (max-width: $breakpoint-laptop-small) {
  body {
    header {
      nav {
        .nav_menu {
          width: 89%;
        }
      }
    }
    main {
      #search {
        .input_container {
          width: 70%;
        }
        .sort_by_menu_container {
          width: 28%;
        }
      }
    }
  }
}

/////////* TABLET - HOME */////////
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  body {
    // padding: 2.2%;
    header {
       .ham_menu_container {
        .navbar {
          ul {
            li {
              padding: 10%;
            }
          }
        }
      }
      nav {
        div.nav_menu {
          padding-top: 16px;
        }
      }
    }
    footer {
      nav {
        ul.footer_menu {
          width: 60%;
          margin-right: 2%;
        }
        ul.social_icons {
          li.social_media {
            margin-left: 30px;
          }
        }
      }
    }
  }
}

//smaller than 768px;
@media (max-width: $breakpoint-tablet) {
  body {
    header {
      .ham_menu_container {
        .navbar {
          ul {
            li {
              padding: 10%;
            }
          }
        }
      }
      nav {
        div.nav_menu {
          width: 87%;
        }
      }
    }
    main {
      #home {
        .arrowBtn {
          .arrow {
            font-size: 3em;
          }
        }
      }
    }
    footer {
      nav {
        display: flex;
        flex-direction: column;
        .social_icons {
          margin: 12%;
          li.social_media:nth-child(1) {
            margin: 0;
          }
        }

        ul:nth-child(2) {
          order: -1;
        }
        ul.footer_menu {
          width: 260px;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          align-items: baseline;
          margin-bottom: 15%;
          li {
            list-style: none;
            flex: 0 50%;
            padding: 10px 0 10px 0;
          }
        }
      }
    }
  }
}

/////////* MOBILE - HOME */////////
$breakpoint-mobile: 600px;
@media (max-width: $breakpoint-mobile) {
  body {
    padding: 0;
    header {
      padding: 4%;
    }
  }
  .ham_menu_container {
    menu.navbar {
      margin: -4%;
      ul {
        li {
          padding: 15%;
        }
      }
    }
  }
  nav {
    div.nav_menu {
      padding: 0;
      .menu_bar1 {
        li {
          display: none;
        }
      }
      .menu_bar2 {
        padding-right: 4%;
        li:nth-child(2) {
          display: none;
        }
      }
    }
    .active {
      margin: -4%;
    }
  }

  section.search {
    width: 100%;
    justify-content: center;
    div.input_container {
      display: block;
      width: 100%;
      padding-bottom: 2%;
    }
    div.sort_by_menu_container {
      display: none;
    }
  }

  section#home {
    height: 100%;
    .arrowBtn {
      #leftBtn,
      #rightBtn {
        font-size: 2.4em;
      }
    }
    div.mainImg {
      height: 100%;
      .mainImgSlide {
        img {
          height: 600px;
          object-fit: cover;
        }
      }
      .main_banner_text {
        margin: 5%;
        h1 {
          font-size: 1.94em;
        }
        h3 {
          font-size: 1.4em;
        }
      }
    }
  }
  footer {
    hr {
      display: none;
    }
  }
}

/* SHOP PAGE */

/* Left side search menu - price range slider */
.price_range_title {
  margin-top: 8%;
}
.range_slider {
  width: 100%;
  text-align: center;
  position: relative;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    border: none;
    margin: 0;
    font-size: 1em;
  }
  input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: space-evenly;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  // input[type=range]:focus::-webkit-slider-runnable-track {
  //   background: #2497e3;
  // }
  // input[type=range]:focus::-ms-fill-lower {
  //   background: #2497e3;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #2497e3;
  // }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.8px;
    cursor: pointer;
    background: #393e46;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    border: 2px solid #393e46;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  .price_text {
    width: 100%;
    margin: 5% 0 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .min_text {
      justify-self: flex-start;
      margin-left: 7px;
      margin-bottom: 10%;
    }
    .max_text {
      justify-self: flex-end;
      margin-bottom: 10%;
    }
  }
}

.sidebar_search {
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  height: 3em;
  outline: none;
  cursor: pointer;
}
.sidebar_search:active {
  @include btnClickTransform;
}

/* SHOP PAGE - Product Listing */

/* Pagination */
.pagination {
  display: flex;
  flex-direction: column;
  .page_buttons {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .page_numbers {
      .page_num {
        font-size: 1.1em;
        cursor: pointer;
      }
    }
  }
}

/* Product Listing */
.product_listing {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  div.listing_page {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 20px;
    flex-direction: row;
    margin-top: 1%;
    div.left_side_bar {
      width: 100%;
      div.product_side_menu {
        font-size: 0.9em;
        line-height: 2em;
        width: 100%;

        div.filterBy {
          margin: 0 0 10% 0;
          text-transform: uppercase;
          color: #22232b;
          font-size: 0.8em;
        }
        div.collection_menu_container {
          div.collection {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
            span {
              margin: 0;
            }
          }
        }
        div.collection_list {
          display: none;
          ul {
            margin: 2% 0 2% 0;
            padding: 1%;
            font-size: 0.9em;
            li {
              list-style: none;
              line-height: 30px;
              @include hoverChangeBgColour;
            }
          }
        }
        div.color_menu_container {
          div.color {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
            span {
              margin: 0;
            }
          }
        }
        div.color_options {
          margin: 6% 0 6% 0;
          padding: 2%;
          line-height: 1.4em;
          font-size: 0.9em;
          text-transform: capitalize;
          display: none;
        }

        div.category_menu_container {
          div.category {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
          }
        }
        div.category_options {
          margin: 6% 0 6% 0;
          padding: 1%;
          line-height: 1.4em;
          display: none;
        }

        /* SIDE BAR - drop down menu: hidden by default (display when clicked) */
        div.active {
          display: block;
        }
      }
    }
  }

  #products_container {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 4%;
    margin-bottom: 6%;
    display: grid;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    grid-area: auto;
    grid-template-columns: repeat(auto-fit, 300px);
    .product-card {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 300px;
      height: 300px;
      margin-bottom: 10%;
      transition: transform 0.4s; /* Animation */
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .product-info-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        .product-info {
          position: relative;
          width: 100%;
          .product-name {
            position: relative;
            width: 35%;
            margin: 20px 0 -5px 0;
            line-height: 34px;
            background-color: white;
          }
          .product-detail {
            display: flex;
            justify-content: space-between;
            height: 34px;
            line-height: 34px;
            background-color: white;
            .product-type {
              height: 40px;
              font-weight: 300;
              font-size: 0.8em;
              font-family: "Josefin Sans", sans-serif;
            }
            .product-price {
              display: flex;
              font-weight: 400;
            }
          }
        }
        .cart-icon {
          display: flex;
          justify-content: flex-end;
          background-color: white;
          height: 0;
          z-index: 1;
          cursor: pointer;
          i.fas {
            font-size: 1.8em;
            margin-top: 10px;
          }
        }
        .cart-icon:active {
          transform: scale(0.99);
        }
      }
    }
    .product-card:hover {
      transform: scale(1.08);
    }
  }
}

//* RESPONSIVE *//

/////////* 1280px - SHOp */////////

@media (min-width: $breakpoint-1280) {
  #shop {
    .listing_page {
      grid-template-columns: 22% 76%;
      .pagination {
        #products_container {
          // grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: repeat(auto-fit, 320px);
          margin-left: 4.5%;
          .product-card {
            width: 320px;
            height: 320px;
          }
        }
      }
    }
  }
}
/////////* LAPTOP SMALL - SHOP */////////
@media (max-width: $breakpoint-laptop-small) {
  body {
    .section_shop {
      .listing_page {
        grid-template-columns: 28% 72%;
        grid-column-gap: 14px;
      }
    }
  }
}

// /////////* TABLET - SHOP */////////
@media (min-width: $breakpoint-tablet) {
  body {
    .section_shop {
      .listing_page {
        display: grid;
        // grid-template-columns: 30% 70%;
        grid-column-gap: 10px;
        .pagination {
          #products_container {
            grid-template-columns: repeat(auto-fit, 240px);
            .product-card {
              width: 240px;
              height: 240px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  body {
    .section_shop {
      .listing_page {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 34% 64%;
        .pagination {
          #products_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .product-card {
              width: 350px;
              height: 350px;
            }
          }
        }
      }
    }
  }
}

/////////* MOBILE - SHOP */////////
@media (max-width: $breakpoint-mobile) {
  .sort_by_menu_container {
    display: block;
  }
  .section_shop {
    display: flex;
    justify-content: center;

    div.listing_page {
      display: flex;
      flex-direction: column;
      // width: 80%;
      .pagination {
        #products_container {
          margin-left: 0;
          align-items: center;
        }
      }
    }
  }
}

/////////* MOBILE SMALL - SHOP */////////
$breakpoint-mobile-small: 414px; // iphone 6/7/8
@media (max-width: $breakpoint-mobile-small) {
}

/* MAGAZINE PAGE */

.product_container {
  display: flex;
  // align-items: flex-start;
  justify-content: center;
  margin: 4%;
  padding-bottom: 5%;
  .detail1 {
    .product_image {
      position: relative;
      .slide_main {
        width: 100%;
      }
      .dot_slider {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translate(-50%, 0);
        .dot {
          cursor: pointer;
          height: 14px;
          width: 14px;
          margin: 0 3px;
          background-color: transparent;
          border: solid 1px white;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        .active,
        .dot:hover {
          background-color: white;
        }
      }
    }
    .item_img_slider {
      display: flex;
      align-items: center;
      margin-top: 3%;
      .slide {
        width: 15%;
        margin: 6px;
        cursor: pointer;
      }
      .img_slide_arrow {
        font-size: 2em;
        font-weight: lighter;
        cursor: pointer;
      }
      .forward {
        margin-left: 7px;
      }
      .backward {
        margin-right: 7px;
      }
    }
  }
  .detail2 {
    margin-left: 4%;
    .about_product {
      width: 400px;
      h2.product_name {
        font-size: 1.7em;
        font-weight: 600;
        margin: 0;
      }
      .description {
        margin: 5% 0 5% 0;
        font-size: 1.1em;
        line-height: 1.2em;
      }
      h2.price {
        padding-top: 4%;
        font-size: 1.5em;
        font-weight: 400;
      }
      p.delivery {
        margin: 5% 0 5% 0;
        span.stock {
          color: red;
        }
      }
    }
    .item_colors {
      margin: 10% 0 14% 0;
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 2.5%;
        border: 1px solid;
        cursor: pointer;
        outline: none;
      }
      button:active {
        @include btnClickTransform;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      .add_to_cart,
      .go_to_checkout,
      .more_details {
        padding: 5% 0 5% 0;
        margin: 2% 0 2% 0;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 3px;
        div {
          display: flex;
          justify-content: center;
          span {
            width: 340px;
          }
        }
      }
      .add_to_cart {
        background-color: black;
        color: white;
        border: 2px solid transparent;
      }
      .go_to_checkout {
        background-color: #17c79a;
        color: white;
        border: 2px solid transparent;
      }
      .more_details {
        background-color: white;
        color: black;
        border: 2px solid black;
      }
      .product_details {
        font-size: 0.9em;
        margin-top: 5%;
        p {
          margin: 2.2%;
          font-size: 1.1em;
        }
      }
    }
  }
}

//* RESPONSIVE *//

/////////* LAPTOP SMALL - MAGAZINE */////////
@media (max-width: $breakpoint-laptop-small) {
  body {
    #magazine {
      #item-container {
        .detail2 {
          width: 300px;
          div {
            width: 300px;
          }
          .buttons {
            .more_details {
              div {
                span {
                  width: 256px;
                }
              }
            }
            .product_details {
              p {
                margin: 2%;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
}

/////////* TABLET - MAGAZINE */////////
@media (min-width: $breakpoint-tablet) {
  body {
    #magazine {
      #item-container {
        margin: 2%;
        .detail1 {
          .product_image {
            .dot_slider {
              display: none;
            }
          }
          .item_img_slider {
            img {
              width: 84px;
            }
          }
        }
        .detail2 {
          width: 280px;
          div {
            width: 280px;
          }
          .buttons {
            .more_details {
              div {
                span {
                  width: 240px;
                }
              }
            }
            .product_details {
              p {
                font-size: 0.87em;
              }
            }
          }
        }
      }
    }
  }
}

// smaller than  768px
@media (max-width: $breakpoint-tablet) {
  body {
    #search {
      margin: 3% 0;
    }
    #magazine {
      #item-container {
        flex-direction: column;
        margin: 2%;
        .detail1 {
          .product_image {
            .dot_slider {
              display: block;
            }
          }
          .item_img_slider {
            display: none;
          }
        }
        .detail2 {
          margin-top: 10%;
          margin-left: 0;
          flex-direction: column;
          display: flex;
          align-items: center;
          width: 100%;

          div {
            width: 380px;
          }
          .about_product {
            width: 380px;
          }
          .item_colors {
            margin: 3% 0 5% 0;
          }
          .buttons {
            margin-bottom: 10%;
            width: 380px;
            .more_details {
              div {
                span {
                  width: 330px;
                }
              }
            }
            .product_details {
              p {
                margin: 2.4%;
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

/////////* MOBILE - MAGAZINE */////////
@media (max-width: $breakpoint-mobile) {
  body {
    #magazine {
      #item-container {
        margin: 0;
        .detail1 {
          width: 100%;
          .product_image {
            .slide_main {
              height: 400px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

/////////* MOBILE - MAGAZINE */////////
// iphone 6/7/8
@media (max-width: $breakpoint-mobile-small) {
  body {
    #magazine {
      #item-container {
        .detail2 {
          div.about_product,
          .item_colors {
            width: 300px;
          }
          .buttons {
            width: 300px;
            .more_details {
              div {
                width: 300px;
                span {
                  width: 240px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Display HOME page by default
// Display SHOP or MAGAZINE page when SHOP or MAGAZINE is clicked

.showing {
  display: block;
}

.hidden {
  display: none;
}
