html,
body {
  overflow-x: hidden;
}

body {
  padding: 2.2%;
  h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
}

@mixin hover {
  &:hover {
    color: #00c98d;
    cursor: pointer;
  }
}
@mixin hoverChangeBgColour {
  &:hover {
    background-color: #ececec;
  }
}
@mixin btnClickTransform {
  &:active {
    transform: scale(0.96);
  }
}

.container {
  // max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      div.hamburger_icon {
        margin-right: 6%;
        @include hover;
        div {
          width: 32px;
          height: 3px;
          background-color: black;
          margin: 5px 0;
        }
      }
      li {
        text-transform: uppercase;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        text-decoration: none;
        @include hover;
      }
    }
    ul.menu_bar1 {
      font-size: 0.8em;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      li {
        margin: 0 5% 0 0;
      }
    }
    ul.menu_bar2 {
      font-size: 0.8em;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      .cart {
        img {
          position: absolute;
        }
        .quantity {
          margin-left: 2%;
          font-size: 1.2em;
          background-color: #16c79a;
          text-align: center;
          color: white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: relative;
          left: 15px;
          bottom: 10px;
        }
      }
      li {
        margin: 0 0 0 5%;
      }
    }
  }
}

main {
  section.search {
    padding: 4% 0 4% 0;
    display: flex;
    margin: 0 0 0.6em 0;
    div.input_container {
      position: relative;
      width: 75%;
      input {
        border: 0;
        outline: 0;
        border-bottom: 1px solid black;
        width: 100%;
        font-size: 1.4em;
      }
      img.input_img {
        position: absolute;
        top: -5px;
      }
    }
    div.sort_by_menu_container {
      position: relative;
      width: 23%;
      margin-left: 2%;
      button.sortBy_btn {
        width: 100%;
        height: 28.8px;
        border: none;
        border-bottom: solid black 1px;
        outline: 0;
        background-color: #ffffff;
        cursor: pointer;
        div.sortBy_dropDown {
          display: grid;
          grid-template-columns: 90% 10%;
          span.sortBy_text {
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: flex-start;
          }
          span.dropDown_icon {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    /* Drop down menu (sort by) hidden by default */
    .lists:first-child {
      margin-top: 0.5em;
    }
    div.sortBy_lists {
      display: none;
      position: absolute;
      z-index: 2;
      background-color: white;
      box-shadow: 2px 22px 22px 0px rgba(0, 0, 0, 0.15);
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 0.8em;
          padding: 0 0 6px 5px;
          line-height: 30px;
          background-color: white;
          @include hoverChangeBgColour;
        }
      }
    }
    div.showSortBy {
      display: block;
      width: 100%;
    }
  }
}

/* HOME PAGE: main banner */
section.main_banner {
  position: relative;
  div.arrowBtn {
    position: absolute;
    top: 44%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .arrow {
      position: absolute;
      z-index: 1;
      font-size: 4em;
      color: white;
      cursor: pointer;
    }
    #leftBtn {
      left: 0;
      margin-left: 20px;
    }
    #rightBtn {
      right: 0;
      margin-right: 20px;
    }
  }

  div.mainImg {
    position: relative;
    div.mainImgSlide {
      img {
        width: 100%;
        object-fit: cover;
        filter: brightness(80%);
      }
    }
    div.main_banner_text {
      position: absolute;
      width: 500px;
      top: 6%;
      margin-left: 5%;
      h1 {
        font-size: 3em;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 1.2%;
      }
      h3 {
        font-size: 1.6em;
        font-weight: 300;
        color: #ffffff;
        border-bottom: 1.4px solid currentColor;
        width: 35%;
        margin: 0;
      }
    }
  }
}

/* MOBILE */

$breakpoint-mobile: 600px;
@media (max-width: $breakpoint-mobile) {
  body {
    width: 100%;
    padding: 0;
  }

  nav {
    margin: 3%;
    .menu_bar1 {
      li {
        display: none;
      }
    }
    .menu_bar2 {
      padding-right: 4%;
      li:nth-child(2) {
        display: none;
      }
    }
  }

  section.search {
    width: 100%;
    justify-content: center;
    div.input_container {
      display: block;
      width: 100%;
      padding-bottom: 2%;
    }
    div.sort_by_menu_container {
      display: none;
    }
  }

  section#home {
    height: 100%;
    .arrowBtn {
      #leftBtn,
      #rightBtn {
        font-size: 2.4em;
      }
    }
    div.mainImg {
      height: 100%;
      .mainImgSlide {
        img {
          height: 400px;
          object-fit: cover;
        }
      }
      .main_banner_text {
        margin: 6%;
        h1 {
          font-size: 1.8em;
        }
        h3 {
          font-size: 1.1em;
        }
      }
    }
  }
}

footer {
  hr {
      display: none;
    }
  nav {
    display: flex;
    flex-direction: column;
    .social_icons {
      padding: 10%;
    }  
    // ul:nth-child(2) {
    //   order: -1;
    // }  
  }
}

///////////////////////

/* SHOP PAGE */
/* Left side search menu - price range slider */
.price_range_title {
  margin-top: 8%;
}
.range_slider {
  width: 100%;
  text-align: center;
  position: relative;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    border: none;
    margin: 0;
    font-size: 1em;
  }
  input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: space-evenly;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  // input[type=range]:focus::-webkit-slider-runnable-track {
  //   background: #2497e3;
  // }
  // input[type=range]:focus::-ms-fill-lower {
  //   background: #2497e3;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #2497e3;
  // }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.8px;
    cursor: pointer;
    background: #393e46;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    border: 2px solid #393e46;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  .price_text {
    width: 100%;
    margin: 5% 0 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .min_text {
      justify-self: flex-start;
      margin-left: 7px;
      margin-bottom: 10%;
    }
    .max_text {
      justify-self: flex-end;
      margin-bottom: 10%;
    }
  }
}

.sidebar_search {
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
  border-style: none;
  height: 3em;
  outline: none;
  cursor: pointer;
}
.sidebar_search:active {
  @include btnClickTransform;
}

/* SHOP PAGE - Product Listing */

/* Pagination */
.pagination {
  display: flex;
  flex-direction: column;
  .page_buttons {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .page_numbers {
      .page_num {
        font-size: 1.1em;
        cursor: pointer;
      }
    }
  }
}

/* Product Listing */
.product_listing {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  div.listing_page {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 20px;
    flex-direction: row;
    margin-top: 1%;
    div.left_side_bar {
      width: 100%;
      div.product_side_menu {
        font-size: 0.9em;
        line-height: 2em;
        width: 100%;

        div.filterBy {
          margin: 0 0 10% 0;
          text-transform: uppercase;
          color: #22232b;
          font-size: 0.8em;
        }
        div.collection_menu_container {
          div.collection {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
            span {
              margin: 0;
            }
          }
        }
        div.collection_list {
          display: none;
          ul {
            margin: 2% 0 2% 0;
            padding: 1%;
            font-size: 0.9em;
            li {
              list-style: none;
              line-height: 30px;
              @include hoverChangeBgColour;
            }
          }
        }
        div.color_menu_container {
          div.color {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
            span {
              margin: 0;
            }
          }
        }
        div.color_options {
          margin: 6% 0 6% 0;
          padding: 2%;
          line-height: 1.4em;
          font-size: 0.9em;
          text-transform: capitalize;
          display: none;
        }

        div.category_menu_container {
          div.category {
            cursor: pointer;
            margin-top: 7%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid black 1px;
            width: 100%;
          }
        }
        div.category_options {
          margin: 6% 0 6% 0;
          padding: 1%;
          line-height: 1.4em;
          display: none;
        }

        /* SIDE BAR - drop down menu: hidden by default (display when clicked) */
        div.active {
          display: block;
        }
      }
    }
  }

  #products_container {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 4%;
    margin-bottom: 6%;
    display: grid;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    grid-area: auto;
    grid-template-columns: repeat(auto-fit, 300px);
    .product-card {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 300px;
      height: 300px;
      margin-bottom: 10%;
      transition: transform 0.4s; /* Animation */
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .product-info-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        .product-info {
          position: relative;
          width: 100%;
          .product-name {
            position: relative;
            width: 35%;
            margin: 20px 0 -5px 0;
            line-height: 34px;
            background-color: white;
          }
          .product-detail {
            display: flex;
            justify-content: space-between;
            height: 34px;
            line-height: 34px;
            background-color: white;
            .product-type {
              height: 40px;
              font-weight: 300;
              font-size: 0.8em;
              font-family: "Josefin Sans", sans-serif;
            }
            .product-price {
              display: flex;
              font-weight: 400;
            }
          }
        }
        .cart-icon {
          display: flex;
          justify-content: flex-end;
          background-color: white;
          height: 0;
          z-index: 1;
          cursor: pointer;
          i.fas {
            font-size: 1.8em;
            margin-top: 10px;
          }
        }
        .cart-icon:active {
          transform: scale(0.99);
        }
      }
    }
    .product-card:hover {
      transform: scale(1.08);
    }
  }
}

/* MAGAZINE PAGE */
.product_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 4%;
  padding-bottom: 5%;
  .detail1 {
    .product_image {
      .slide_main {
        width: 700px;
        height: 400px;
      }
    }
    .item_img_slider {
      display: flex;
      align-items: center;
      margin-top: 3%;
      .slide {
        width: 100px;
        margin: 4px;
        cursor: pointer;
      }
      .img_slide_arrow {
        font-size: 2em;
        font-weight: lighter;
        cursor: pointer;
      }
      .forward {
        margin-right: 7px;
      }
      .backward {
        margin-left: 7px;
      }
    }
  }
  .detail2 {
    margin-left: 2%;
    .about_product {
      width: 360px;
      h2.product_name {
        margin: 0;
      }
      h2.price {
        padding-top: 4%;
      }
      p {
        span.stock {
          color: red;
        }
      }
    }
    .item_colors {
      margin: 12% 0 15% 0;
      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 2.5%;
        border: 1px solid;
        cursor: pointer;
        outline: none;
      }
      button:active {
        @include btnClickTransform;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      width: 360px;
      .add_to_cart,
      .go_to_checkout,
      .more_details {
        padding: 5% 0 5% 0;
        margin: 2% 0 2% 0;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 3px;
        div {
          display: flex;
          justify-content: center;
          span {
            width: 320px;
          }
        }
      }
      .add_to_cart {
        background-color: black;
        color: white;
        border: 2px solid transparent;
      }
      .go_to_checkout {
        background-color: #17c79a;
        color: white;
        border: 2px solid transparent;
      }
      .more_details {
        background-color: white;
        color: black;
        border: 2px solid black;
      }
      .product_details {
        font-size: 0.9em;
        margin-top: 5%;
        p {
          margin: 2%;
        }
      }
    }
  }
}

/* Footer */
footer {
  height: 20%;
  hr {
    color: #1b1b1b;
    margin: 6% 0 2.4% 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    ul.footer_menu {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 0;
      margin-right: 5%;
      li {
        // margin: 0 4% 0 0;
        list-style: none;
        @include hover;
      }
    }
    ul.social_icons {
      display: flex;
      padding: 0;
      li.social_media {
        margin: 0 0 0 36px;
        list-style: none;
        @include hover;
      }
    }
  }
}

// Display HOME page by default
// Display SHOP or MAGAZINE page when SHOP or MAGAZINE is clicked

.showing {
  display: block;
}

.hidden {
  display: none;
}
